:3000 {
    # Point directly to the Portfolio Website directory
    root * /c:/Users/henry/Documents/BCIT CIT TERM 3/ACIT 3475 Web Server Admin/Project 1/Portfolio Website

    file_server

    handle /api/* {
        reverse_proxy localhost:5050
    }
}
